<section class="maincontainer1">
  <button class="maincontainer1__button">
    <i class="far fa-trash-alt"></i> Reset
  </button>
  <div class="maincontainer1__profilecard">
    <div class="maincontainer1__text">
      <h2 class="maincontainer1__title">Nombre apellido</h2>
      <h3 class="maincontainer1__subtitle">Front-end developer</h3>
    </div>
    <img class="maincontainer1__img" src="" alt="" />
    <nav class="maincontainer1__links-container">
      <a href="" class="maincontainer1__links"
        ><i class="fas fa-mobile-alt"></i
      ></a>
      <a href="" class="maincontainer1__links"
        ><i class="far fa-envelope"></i
      ></a>
      <a href="" class="maincontainer1__links"
        ><i class="fab fa-linkedin-in"></i
      ></a>
      <a href="" class="maincontainer1__links"
        ><i class="fab fa-github-alt"></i
      ></a>
    </nav>
  </div>
</section>
