<section class="maincontainer1">
  <button class="maincontainer1__button">
    <i class="far fa-trash-alt"></i> Reset
  </button>
  <div class="maincontainer1__profilecard">
    <div class="maincontainer1__text js-headerpreview">
      <h2 class="maincontainer1__title js-name">Nombre apellido</h2>
      <h3 class="maincontainer1__subtitle js-job">Front-end developer</h3>
    </div>
    <div class="maincontainer1__img js__profile-preview"></div>
    <nav class="maincontainer1__links-container js-footerpreview">
      <a href="" class="maincontainer1__links js-telefono"
        ><i class="fas fa-mobile-alt"></i
      ></a>
      <a href="" class="maincontainer1__links js-mail"
        ><i class="far fa-envelope"></i
      ></a>
      <a href="" class="maincontainer1__links js-linkedin"
        ><i class="fab fa-linkedin-in"></i
      ></a>
      <a href="" class="maincontainer1__links js-git"
        ><i class="fab fa-github-alt"></i
      ></a>
    </nav>
  </div>
</section>
