<main class="main-section">
    <section class="main-section-1">
        <h1 class="title">Crea tu tarjeta de visita</h1>
        <p class="subtitle">Crea mejores contactos profesionales de forma fácil y cómoda</p>
    </section>
    <section class="main-section-2">
        <i class="far fa-object-ungroup">diseña</i>
        <i class="far fa-keyboard">rellena</i>
        <i class="fas fa-share-alt">comparte</i>
    </section>
    <div class="boton">
        <a class="boton-link" href="./content.html" title="start">comenzar</a>
    </div>
</main>