<section class="maincontainer1">
  <section class="maincontainer1__profilecard">
    <p class="maincontainer1__text">
        <h2 class="maincontainer1__title"></h2>
        <h3 class="maincontainer1__subtitle"></h3>
    </p>
    <img src="" alt="" />
    <nav class="maincontainer1__links">
      <a href="" class="maincontainer1__links"></a>
      <a href="" class="maincontainer1__links"></a>
      <a href="" class="maincontainer1__links"></a>
      <a href="" class="maincontainer1__links"></a>
    </nav>
  </section>
</section>
