<main class="main-section">
    <section class="section-header">
        <img class="main-logo" src="./assets/images/logo_proyecto.png">

    </section>
    <section class="main-section-1">
        <h1 class="title">Crea tu tarjeta de visita</h1>
        <p class="subtitle">Crea mejores contactos profesionales de forma fácil y cómoda</p>
    </section>
    <section class="main-section-2">
        <div class="icon icon-text-1">
            <i class="far fa-object-ungroup i-main"></i>
            <p class="i-text design">diseña</p>
        </div>
        <div class="icon icon-text-2">
            <i class="far fa-keyboard i-main"></i>
            <p class="i-text fill">rellena</p>
        </div>
        <div class="icon icon-text-3">
            <i class="fas fa-share-alt i-main"></i>
            <p class="i-text">comparte</p>
        </div>
    </section>
    <div class="boton">
        <a class="boton-link-main" href="./content.html" title="start">comenzar</a>
    </div>
</main>