//fonts
$font-main: "Open Sans", sans-serif;
$font-title: "Merriweather";
$font-montse: "Monserrat", sans-serif;

//colors
$color-base: #54585a; //color base letras//
$color-green: #114e4e; //colores verdes en formulario y h2 de index)
$color-orange: #e17334; //todo lo naranja//
$color-botton: #438792; //boton comenzar/
$color-copy: #d8d8d8; //copy//
$color-hospitalgreen: #a2deaf; //barras formulario
$color-azure: #00a0f5; //fondo twitter
$background-main: #f5f5f5;
$color-shadow: rgba(0, 0, 0, 0.32); //bordes cajas


//PALETTE COLORS OPTIONS
$color1-1: #114e4e;
$color1-2: #438792;
$color1-3: #a2deaf;

$color2-1: #420101;
$color2-2: #bd1010;
$color2-3: #e95626;

$color3-1: #3e5b65;
$color3-2: #eab052;
$color3-3: #a0c0cf;


//size
$color-white: #ffffff;
$normalsize: 0.875rem; //los 14 px que tiene casi todo//
$sizecrea: 1.2rem; //crea tu tarjeta de visita//
$sizedespleg: 1.125rem; //desplegables contacthtml/
