.design {
  color: $color-orange;
  font-size: 80px;
}

/* .details__title {
    font-family: $font-main;
    font-size: $sizedespleg;
    color: $color-base;
    font-weight: 600;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 25px;
  }
  .far {
    color: $color-orange;
  }
  .details__fullName-form {
    font-family: $font-main;
    font-size: $normalsize;
    line-height: 1.43;
    color: $color-green;
  }
  .details__fullName-fieldSpace {
    box-shadow: $color-hospitalgreen;
    height: 55px;
  }
  .details__workTitle-form {
    font-family: $font-main;
    font-size: $normalsize;
    line-height: 1.43;
    color: $color-green;
  }
  .details__workTitle-fieldSpace {
    box-shadow: $color-hospitalgreen;
    height: 55px;
  }
  .details__photo-form {
    font-family: $font-main;
    font-size: $normalsize;
    line-height: 1.43;
    color: $color-green;
  }
  .details__photo-button {
    font-family: $font-main;
    font-size: $normalsize;
    line-height: 1.43;
    color: $color-white;
    background-color: $color-orange;
    border-radius: 3px;
    height: 30px;
    padding: 3px 22px 7px;
    box-shadow: rgba(0, 0, 0, 0.32);
  }
  .details__email-form {
    font-family: $font-main;
    font-size: $normalsize;
    line-height: 1.43;
    color: $color-green;
  }
  .details__email-fieldSpace {
    box-shadow: $color-hospitalgreen;
    height: 55px;
  }
  .details__phone-form {
    font-family: $font-main;
    font-size: $normalsize;
    line-height: 1.43;
    color: $color-green;
  }
  .details__phone-fieldSpace {
    box-shadow: $color-hospitalgreen;
    height: 55px;
  }
  .details__linkedin-form {
    font-family: $font-main;
    font-size: $normalsize;
    line-height: 1.43;
    color: $color-green;
  }
  .details__linkedin-fieldSpace {
    box-shadow: $color-hospitalgreen;
    height: 55px;
  }
  .details__github-form {
    font-family: $font-main;
    font-size: $normalsize;
    line-height: 1.43;
    color: $color-green;
  }
  .details__github-fieldSpace {
    box-shadow: $color-hospitalgreen;
    height: 55px;
  }
  .fas {
    color: $color-orange;
  }
  .share__title {
    font-family: $font-main;
    font-size: $sizedespleg;
    color: $color-base;
    font-weight: 600;
  }
  .share__create-button {
    font-family: $font-main;
    font-size: $sizedespleg;
    font-weight: 600;
    color: $color-white;
    background-color: $color-orange;
    border-radius: 3px;
    height: 24px;
    box-shadow: rgba(0, 0, 0, 0.32);
  }
*/
