.header-container {
  background-color: $background-main;
  height: 20vh;
  text-align: center;
  @media all and (min-width: 768px) {
    height: 455px;
  }
}
.main-logo {
  width: 250px;
  height: 63px;
  margin: 95px 35px 0px 35px;
  @media all and (min-width: 768px) {
    width: 419px;
    height: 105px;
    margin: 350px 174px 0px 174px;
  }
}
