.form {
  margin-top: 27px;
  margin-left: 40px;
}

fieldset {
  border: none;
  margin-right: 19px;
  margin-left: 20px;
}
.colors {
  border-bottom: solid 1px $color-copy;
}

.colors__line {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.colors__title {
  font-family: $font-main;
  font-size: $sizedespleg;
  color: $color-base;
  font-weight: 600;
  padding-top: 10px;
  padding-left: 10px;
  margin-bottom: 25px;
}

.colorstitle {
  font-family: $font-main;
  color: $color-base;
  font-size: $normalsize;
}

.boxy {
  color: $color-orange;
  width: 21px;
  height: 18px;
}

.colors-up {
  color: $color-base;
  width: 16px;
  height: 18px;
}

.colors_design {
  display: flex;
  justify-content: space-between;
}

.choosecolor {
  width: 17px;
  height: 17px;
  border-radius: 17px;
  margin-right: 10px;
  
}

.palette {
  margin-right: 20px;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.colorstitle {
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 39px;
}

.opt1color {
  width: 90px;
  height: 25px;
  border: solid 1px;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  border: thin;
}

.opt2color {
  width: 90px;
  height: 25px;
  border: solid 1px;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  border: thin;
}

.opt3color {
  width: 90px;
  height: 25px;
  border: solid 1px;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  border: thin;
}

.opt1-1 {
  background-color: $color1-1;
  width: 30px;
}

.opt1-2 {
  background-color: $color1-2;
  width: 30px;
}

.opt1-3 {
  background-color: $color1-3;
  width: 30px;
}

.opt2-1 {
  background-color: $color2-1;
  width: 30px;
}

.opt2-2 {
  background-color: $color2-2;
  width: 30px;
}

.opt2-3 {
  background-color: $color2-3;
  width: 30px;
}

.opt3-1 {
  background-color: $color3-1;
  width: 30px;
}

.opt3-2 {
  background-color: $color3-2;
  width: 30px;
}

.opt3-3 {
  background-color: $color3-3;
  width: 30px;
}

// PARTE MARIBEL

.details {
  border-bottom: solid 1px $color-copy;
}

.details__line {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.details__title {
  font-family: $font-main;
  font-size: $sizedespleg;
  color: $color-base;
  font-weight: 600;
  padding-top: 10px;
  padding-left: 10px;
  margin-bottom: 25px;
}

.details__keyboard {
  color: $color-orange;
  width: 21px;
  height: 18px;
}

.buton {
  border: none;
}

.details-up {
  color: $color-base;
  width: 16px;
  height: 18px;
  transform: rotate(180deg);
}

.details__form {
  display: flex;
  flex-direction: column;
}

.details__photo-preview {
  border: solid 1px $color-hospitalgreen;
}

.details__fullName-form {
  font-family: $font-main;
  font-size: $normalsize;
  line-height: 1.43;
  color: $color-green;
  margin-bottom: 7px;
}

.details__fullName-fieldSpace {
  border: solid 1px $color-hospitalgreen;
  height: 30px;
  margin-bottom: 20px;
}

.details__workTitle-form {
  font-family: $font-main;
  font-size: $normalsize;
  line-height: 1.43;
  color: $color-green;
  margin-bottom: 7px;
}

.details__workTitle-fieldSpace {
  border: solid 1px $color-hospitalgreen;
  height: 30px;
  margin-bottom: 20px;
}

.details__photo-form {
  font-family: $font-main;
  font-size: $normalsize;
  line-height: 1.43;
  color: $color-green;
  margin-bottom: 7px;
}

.details__photo-button {
  font-family: $font-main;
  font-size: $normalsize;
  line-height: 1.43;
  color: $color-white;
  background-color: $color-orange;
  border-radius: 3px;
  height: 30px;
  padding: 3px 22px 7px 22px;
  box-shadow: rgba(0, 0, 0, 0.32);
  margin-bottom: 20px;
}

.details__email-form {
  font-family: $font-main;
  font-size: $normalsize;
  line-height: 1.43;
  color: $color-green;
  margin-bottom: 7px;
}

.details__email-fieldSpace {
  border: solid 1px $color-hospitalgreen;
  height: 30px;
  margin-bottom: 20px;
}

.details__phone-form {
  font-family: $font-main;
  font-size: $normalsize;
  line-height: 1.43;
  color: $color-green;
  margin-bottom: 7px;
}

.details__phone-fieldSpace {
  border: solid 1px $color-hospitalgreen;
  height: 30px;
  margin-bottom: 20px;
}

.details__linkedin-form {
  font-family: $font-main;
  font-size: $normalsize;
  line-height: 1.43;
  color: $color-green;
  margin-bottom: 7px;
}

.details__linkedin-fieldSpace {
  border: solid 1px $color-hospitalgreen;
  height: 30px;
  margin-bottom: 20px;
}

.details__github-form {
  font-family: $font-main;
  font-size: $normalsize;
  line-height: 1.43;
  color: $color-green;
  margin-bottom: 7px;
}

.details__github-fieldSpace {
  border: solid 1px $color-hospitalgreen;
  height: 30px;
  margin-bottom: 30px;
}

.share {
  border-bottom: solid 1px $color-copy;
  margin-bottom: 30px;
}

.share__line {
  margin-top: 10px;
  margin-bottom: 25px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.share--send {
  color: $color-orange;
  width: 16px;
  height: 18px;
}

.share__title {
  font-family: $font-main;
  font-size: $sizedespleg;
  color: $color-base;
  font-weight: 600;
}

.share-up {
  color: $color-base;
  width: 16px;
  height: 18px;
}

.share__create-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom: solid 1px $color-copy;
  margin-bottom: 30px;
}

.share__create-button-go {
  font-family: $font-main;
  font-size: $sizedespleg;
  font-weight: 600;
  color: $color-white;
  background-color: $color-orange;
  border-radius: 12px;
  height: 24px;
  box-shadow: $color-shadow;
  height: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 13px 18px 13px 17px;
}

.preview__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.preview__paragraph {
  color: $color-base;
  font-family: $font-main;
  font-size: $sizedespleg;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 5px;
}

.preview__url {
  text-decoration: none;
  font-family: $font-main;
  font-size: 12px;
  font-weight: 600;
  color: $color-orange;
  box-shadow: $color-shadow;
  margin-bottom: 10px;
  margin-bottom: 10px;
}

.preview__button {
  font-family: $font-main;
  font-size: $normalsize;
  font-weight: 600;
  line-height: 1.43;
  color: $color-white;
  text-align: center;
  background-color: $color-azure;
  border-radius: 3px;
  padding: 3px 9px 6px 10.5px;
  margin-bottom: 30px;
}

.preview__twitter {
  color: $color-white;
}

.collapse {
  display: none;
}
