.maincontainer1 {
  background: linear-gradient(to bottom, #bfcdd0, #dde9ed);
  height: 457px;
  padding-top: 88px;
  &__profilecard {
    border: 1px $color-base solid;
    margin-left: calc(50% - 120px);
    margin-right: calc(50% - 120px);
    padding-top: 21px;
  }
  &__text {
    width: 240px;
    border-left: 5px #438792 solid;
    padding-left: 20px;
  }
  &__title {
    font-family: $font-montse;
    color: $color-green;
    font-weight: bold;
    font-size: 18px;
  }
  &__subtitle {
    font-family: $font-montse;
    font-weight: lighter;
    font-size: 16px;
    color: $color-base;
  }
  &__img {
    height: 200px;
    width: 240px;
    border: black solid 1px;
    margin-top: 10px;
  }
}
